.photo-card {
  max-width: 400px;
}

mat-card {
  margin: 20px;
}

.photo {
  float: left;
}

.album {
  clear: both;
  display: inline-block;
  margin: 30px;
}

.album1 {
  border: 5px solid green;
}

.album2 {
  border: 5px solid blue;
}

.album3 {
  border: 5px solid purple;
}
