.photo-card {
    max-width: 400px;
  }
  mat-card {
      margin: 20px;
  }
  .Album1{
    border:5px solid green;
    margin: 30px;
  }
.Album2{
    border:5px solid blue;
    margin: 30px;
}
.Album3{
    border:5px solid purple;
    margin: 30px;
}
